= render 'modules/header'
.container
  .container__title
    ユーザ情報変更
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .container__form
      = f.text_field :name, autofocus: true, autocomplete: "name", class: "container__form__name"
      = image_tag @user.image.url, height: '40', width: '40', class: 'container__form__icon'
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "container__form__e-mail"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %br/
      = f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード(変更する場合のみ)", class: "container__form__password"
      - if @minimum_password_length
        %em
          = @minimum_password_length
          文字以上
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "もう一度入力", class: "container__form__pass-confirmation"
      = f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード", class: "container__form__current-pass"
      %br/
      = f.submit "Update!!", class: "container__form__update-btn"
      .link
        = link_to "Back", :back, class: "container__form__back"
        &nbsp;&nbsp;
        = link_to "sign_out", destroy_user_session_path, method: :delete, class: "container__form__signout"
