= render 'modules/header'
.container
  .container__title
    Sign up
  .container__form-signup
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "container__form-signup__email"
      = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "container__form-signup__new-pass"
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード再入力", class: "container__form-signup__new-pass-confirm"
      = f.submit "SignUp!!", class: "container__form-signup__signup-btn"
    .link
      = render "devise/shared/links"
