.matrix
  .tasks-field
    .tasks
      - @tasks.each do |task|
        .task
          = link_to task_path(task.id) do
            .name
              = task.name
            .content
              = "#{task.content[0,5]}..."
            .user
              .user__name
              = "担当者：#{task.user.name[0,5]}..."
              %img{:src => task.user.image, height: '20', width: '20', class: 'user__icon'}
    .urgency-arrow
      .urgency-arrow__triangle
      .urgency-arrow__square
        urgency
  .importance-arrow
    .importance-arrow__square
      importance
    .importance-arrow__triangle
