.sidebar
  .sidebar__title
    自タスク一覧
  - @tasks.each do |task|
    - if task.user_id == current_user.id
      .task
        = link_to task_path(task.id) do
          .task__name
            = task.name
          .task__content
            = "#{task.content[0,6]}..."
          .task__importance
            = "重要度：#{task.importance.name}"
          .task__urgency
            = "重要度：#{task.urgency.name}"