= render 'modules/header'
.container
  .container__title
    Log In
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .container__form
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "container__form__email"
      = f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "container__form__pass"
      - if devise_mapping.rememberable?
        .container__form__remember-me
          = f.check_box :remember_me
          = f.label :パスワードを記憶する
      = f.submit "Log in!!", class: "container__form__submit"
    .link
      = render "devise/shared/links"
